/* COMMON */
* {
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;
    min-width: 100vw;
    font-size: 100%;
    font-family: 'inika', serif;
    overflow: hidden;
    
}

body {
    position: relative;
    /* background-image: url("../images/background.gif");
    background-size: 100vw;
    background-attachment: fixed; */
}

img {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

/* HEADER */
header {
    position: relative;
    width: 100vw;
}

.headerimg{
    position: absolute;
    width: 100vw;

}


/* MENU */
/* .main-container {
    display: flex;
} */

/* .menu {
    position: relative;
    box-sizing: border-box;
    width: 15.051vw;
    height: 30vw;
    padding-top: 6vw;   /* 106px; */

.melody {
    position: absolute;
    width: 15.5vw;
    left: .5vw;
    /* top: 0vw; */
}
.flower {
    position: absolute;
    top: 36vw;
    left: .1vw;
    /* margin-top: 1.32vw; */
    width: 16.796vw;
}

/* .menu-name-img {
    display: flex;
} */


/* MENUSCROLL */
.menu-container{
    position: absolute;
    overflow-y: scroll;
    /* background-color: aqua; */
    width: 18vw;
    /* width: calc(100vw-16.49vw); */
    top: 8.5vw;
    /* height: 82vh; */
    height: calc(100vh-8.5vw);
    /* height: calc(100vh-50vw); */
    /* height: 100vh; */
    bottom: 1vw;
}

.menu-container::-webkit-scrollbar{
    display: none; 
  }
  

.namedingbat {
    /* margin: 0 0.408vw 0 1.02vw; */
    position: absolute;
    top: 8.52vw;
    left: 1.3vw;
    width: 1.58vw;
}
.namedingbat2 {
    display: none;
}

.name {
    /* margin-top: 0.612vw; */
    position: absolute;
    left: 3.5vw;
    top: 8.52vw;
    font-family: 'Besley', serif;
    font-weight: 400;
    line-height: 1.27vw;
    color: #0f0f0f;
    font-size: 1vw;
}

.birth {
    /* padding: 1.68vw 0 0 2.75vw; */
    position: absolute;
    top: 11.52vw;
    left: 3.5vw;
    font-size: 0.863vw;
    color: #3e3e3e;
}

.description {
    /* margin-top: 25px; */
    position: absolute;
    top: 13.5vw;
    left: 1.2vw;
    width: 14vw;
    text-align: center;
    color: #3e3e3e;
    font-size: 0.76vw;
    line-height: 1vw;

}
.yeardingbat{
    position: absolute;
    top: 43.5vw;
    left: 1.3vw;
    width: 1vw;
}
.year-2023 {
    position: absolute;
    top: 43.5vw;
    left: 3vw;
    font-size: 1vw;
}




.work1 img {
    position: absolute;
    top: 59.5vw;
    left: 1vw;

    width: 3.785vw;
}


.work-1 {
    position: absolute;
    font-family: 'inika', serif;
    font-size: 0.9vw;
    text-align: justify;
    top: 45.5vw;
    left: 3vw;
    line-height: 1.3vw;

}

.soundgarden1 {
    position: absolute;
    top: 48vw;
    left: 3vw;
    width: 11vw;
}
.work-2 {
    position: absolute;
    font-family: 'inika', serif;
    font-size: 0.9vw;
    text-align: justify;
    top: 51.5vw;
    left: 3vw;
    line-height: 1.3vw;
}
.kaine1 {
    position: absolute;
    top: 54vw;
    left: 3vw;
    width: 11vw;
}

.work-3 {
    position: absolute;
    font-family: 'inika', serif;
    font-size: 0.9vw;
    text-align: justify;
    top: 57.5vw;
    left: 3vw;
    line-height: 1.3vw;
}
.thestarslikedust1 {
    position: absolute;
    top: 60vw;
    left: 3vw;
    width: 11vw;
}
.work-4 {
    position: absolute;
    font-family: 'inika', serif;
    font-size: 0.9vw;
    text-align: justify;
    top: 63.5vw;
    left: 3vw;
    line-height: 1.3vw;
}
.kimkiyoung1 {
    position: absolute;
    top: 67.5vw;
    left: 3vw;
    width: 11vw;
}

.work-5 {
    position: absolute;
    font-family: 'inika', serif;
    font-size: 0.9vw;
    text-align: justify;
    top: 71vw;
    left: 3vw;
    line-height: 1.3vw;
}
.blackrabbit1 {
    position: absolute;
    top: 75vw;
    left: 3vw;
    width: 11vw;
}
.work-6 {
    position: absolute;
    font-family: 'inika', serif;
    font-size: 0.9vw;
    text-align: justify;
    top: 78.5vw;
    left: 3vw;
    line-height: 1.3vw;
}
.lastfascination1 {
    position: absolute;
    top: 82.6vw;
    left: 3vw;
    width: 11vw;
}


.verticalline1 {
    z-index: -1;
    position: absolute;
    top:0;
    left: 16.49vw;
    height: 100vh;
}
.verticalline2 {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 55vw;
    height: 100vh;
}
.verticalline3 {
    z-index: -1;
    position: absolute;
    top:0;
    left: 96.8vw;
    height: 100vh;
}

.menu-line img {
    position: absolute;
    height: 100vh;
}



/* MAIN */
.main-container{
    position: absolute;
    overflow-y: scroll;
    /* background-color: aqua; */
    width: 84vw;
    /* width: calc(100vw-18vw); */
    top: 8.5vw;
    /* height: 82vh; */
    height: calc(100vh-8.5vw);
    /* height: calc(100vh-50vw); */
    /* height: 100vh; */
    bottom: 1vw;
    left: 16.49vw;
    overflow-x: hidden;
}

.main-container::-webkit-scrollbar{
    display: none; 
  }


.main {
    position: absolute;
    max-width: 36.99vw;
    top: 8.163vw;
    left: 15.51vw;
}
.main img {
    width: 50vw;
}

.menuline1 {
    position: absolute;
    top:3vw;
    width: 88vw;
    /* left: 16vw; */
}

.menu01-n {
    position: absolute;
    top:1vw;
    left: 2vw;
    font-size: 0.8vw;
}

.menu01-t1 {
    position: absolute;
    top:1.9vw;
    left: 4.7vw;
    font-size: 1vw;
}
.menu01-t2 {
    position: absolute;
    top:1.9vw;
    left: 43vw;
    font-size: 1vw;
}

.soundgarden2 {
    position: absolute;
    top:4vw;
    /* left: 4.7vw; */
    left: 68%;
    transform: translate(-68%, 0);

    width: 77vw;
}

.soundgarden3 {
    position: absolute;
    top: 0vw;
    /* left: 4vw; */
    left: 50%;
    transform: translate(-50%, 0);

    width: 76vw;
}
.soundgarden4 {
    position: absolute;
    top:45vw;
    /* left: 4vw; */
    left: 50%;
    transform: translate(-50%, 0);

    width: 76vw;
}
.soundgarden5 {
    position: absolute;
    top:93vw;
    left: 50%;
    transform: translate(-50%, 0);

    width: 76vw;
}
.soundgarden6 {
    position: absolute;
    top:141vw;
    left: 50%;
    transform: translate(-50%, 0);

    width: 76vw;
}
.soundgarden7 {
    position: absolute;
    top:189vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 76vw;
}
.soundgarden8 {
    position: absolute;
    top:237vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 76vw;
}
.soundgarden9 {
    position: absolute;
    top:285vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30vw;
}
.soundgarden10 {
    position: absolute;
    top:325vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30vw;
}
.soundgarden11 {
    position: absolute;
    top:365vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 76vw;
}
.soundgarden12 {
    position: absolute;
    top:410vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 76vw;
}
.soundgarden13 {
    position: absolute;
    top:454vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 54vw;
}
.soundgarden14 {
    position: absolute;
    top:496vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40vw;
}
.soundgarden15 {
    position: absolute;
    top:537vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 54vw;
}
.soundgarden16 {
    position: absolute;
    top:581vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 54vw;
}
.soundgarden17 {
    position: absolute;
    top:625vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 54vw;
}
.soundgarden18 {
    position: absolute;
    top:669vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40vw;
}
.soundgarden19 {
    position: absolute;
    top:710vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40vw;
}
.soundgarden20 {
    position: absolute;
    top:780vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40vw;
}

.menu01-n2{
    position: absolute;
    top: 824vw;
    left: 2vw;
    font-size: 0.8vw;

}
.description1-1 {
    position: absolute;
    top: 824vw;
    left: 6vw;
    width: 35vw;
    font-size: 1vw;
    line-height: 1.34vw;

}
.description1-2 {
    position: absolute;
    top: 824vw;
    left: 42vw;
    width: 50vw;
    font-size: 1.2vw;

    line-height: 1.34vw;

}
.description1-3 {
    position: absolute;
    top: 827vw;
    left: 6vw;
    width: 70vw;
    font-size: 0.9vw;

    line-height: 1.49vw;

}
.description1-4 {
    position: absolute;
    top: 824vw;
    left: 46vw;
    width: 50vw;
    font-size: 1.2vw;
    text-decoration: none;

    line-height: 1.34vw;

}


.menuline1-1 {
    position: absolute;
    top: 825.5vw;
    width: 88vw;
    /* left: 16vw; */
}

.menuline1-2 {
    position: absolute;
    top: 832.5vw;
    width: 88vw;
    /* left: 16vw; */
}









.menuline2 {
    position: absolute;
    top:51vw;
    width: 88vw;
    /* left: 16vw; */
}

.menu02-n {
    position: absolute;
    top:49vw;
    left: 2vw;
    font-size: 0.8vw;

}

.menu02-t1 {
    position: absolute;
    top:49.9vw;
    left: 4.7vw;
    font-size: 1vw;
}
.menu02-t2 {
    position: absolute;
    top:49.9vw;
    left: 43vw;
    font-size: 1vw;

}

.kaine2 {
    position: absolute;
    top:52.3vw;
    /* left: 4.7vw; */
    left: 68%;
    transform: translate(-68%, 0);
    width: 77vw;

}

.kaine3 {
    position: absolute;
    top: 0vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 75vw;
}
.kaine4 {
    position: absolute;
    top: 43vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 32vw;
}
.kaine5 {
    position: absolute;
    top: 89vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 73vw;
}
.kaine6 {
    position: absolute;
    top: 131vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 73vw;
}

.kaine7 {
    position: absolute;
    top: 173vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 73vw;
}

.kaine8 {
    position: absolute;
    top: 215vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 33vw;
}

.kaine9 {
    position: absolute;
    top: 257vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 73vw;
}
.kaine10 {
    position: absolute;
    top: 299vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 33vw;
}
.kaine12 {
    position: absolute;
    top: 349vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 33vw;
}

.kaine11 {
    position: absolute;
    top: 399.3vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 33vw;
}

.menu02-n2{
    position: absolute;
    top: 450vw;
    left: 3vw;
    font-size: 0.8vw;

}
.description2-1 {
    position: absolute;
    top: 450vw;
    left: 6vw;
    width: 35vw;
    font-size: 1vw;
    line-height: 1.34vw;

}
.description2-2 {
    position: absolute;
    top: 450vw;
    left: 42vw;
    width: 50vw;
    font-size: 1.2vw;

    line-height: 1.34vw;

}
.description2-3 {
    position: absolute;
    top: 453vw;
    left: 6vw;
    width: 90%;
    font-size: 0.9vw;

    line-height: 1.49vw;

}

.menuline2-1 {
    position: absolute;
    top: 451.3vw;
    width: 88vw;
    /* left: 16vw; */
}

.menuline2-2 {
    position: absolute;
    top: 459.3vw;
    width: 88vw;
    /* left: 16vw; */
}
.br {
    top: 460.3vw;

}







.menuline3 {
    position: absolute;
    top:100vw;
    width: 88vw;
    /* left: 16vw; */
}

.menu03-n {
    position: absolute;
    top: 98vw;
    left: 2vw;
    font-size: 0.8vw;

}

.menu03-t1 {
    position: absolute;
    top:99vw;
    left: 4.7vw;
    font-size: 1vw;
}
.menu03-t2 {
    position: absolute;
    top:99vw;
    left: 43vw;
    font-size: 1vw;

}

.thestarslikedust2 {
    position: absolute;
    top: 101vw;
    /* left: 4.7vw; */
    left: 68%;
    transform: translate(-68%, 0);

    width: 77vw;
}
.thestarslikedust3 {
    position: absolute;
    top: 0vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 76vw;
}
.thestarslikedust4 {
    position: absolute;
    top: 44vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 64vw;
}
.thestarslikedust5 {
    position: absolute;
    top: 88vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 75vw;
}
.thestarslikedust6 {
    position: absolute;
    top: 132vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 75vw;
}

.thestarslikedust7 {
    position: absolute;
    top: 176vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 48vw;
}

.thestarslikedust8 {
    position: absolute;
    top: 242vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 48vw;
}

.thestarslikedust9 {
    position: absolute;
    top: 308vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 48vw;
}
.thestarslikedust10 {
    position: absolute;
    top: 374vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 75vw;
}
.thestarslikedust11 {
    position: absolute;
    top: 426vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 75vw;
}

.menu03-n2{
    position: absolute;
    top: 478.5vw;
    left: 3vw;
    font-size: 0.8vw;

}

.description3-1 {
    position: absolute;
    top: 478.5vw;
    left: 6vw;
    width: 35vw;
    font-size: 1vw;
    line-height: 1.34vw;

}
.description3-2 {
    position: absolute;
    top: 478.5vw;
    left: 42vw;
    width: 50vw;
    font-size: 1.2vw;

    line-height: 1.34vw;

}
.description3-3 {
    position: absolute;
    top: 481vw;
    left: 6vw;
    width: 70vw;
    font-size: 0.9vw;

    line-height: 1.49vw;

}

.menuline3-1 {
    position: absolute;
    top: 480vw;
    width: 88vw;
    /* left: 16vw; */
}

.menuline3-2 {
    position: absolute;
    top: 486.2vw;
    width: 88vw;
    /* left: 16vw; */
}




.menuline4 {
    position: absolute;
    top:148vw;
    width: 88vw;
    /* left: 16vw; */
}

.menu04-n {
    position: absolute;
    top: 146vw;
    left: 2vw;
    font-size: 0.8vw;

}

.menu04-t1 {
    position: absolute;
    top: 147vw;
    left: 4.7vw;
    font-size: 1vw;
}

.menu04-t1-mobile {
    display: none;
}

.menu04-t2 {
    position: absolute;
    top: 147vw;
    left: 43vw;
    font-size: 1vw;

}

.kimkiyoung2 {
    position: absolute;
    top: 149vw;
    /* left: 4.7vw; */
    left: 68%;
    transform: translate(-68%, 0);

    width: 77vw;
}
.kimkiyoung3 {
    position: absolute;
    top: 0vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 75vw;
}
.kimkiyoung4 {
    position: absolute;
    top: 43vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50vw;
}
.kimkiyoung5 {
    position: absolute;
    top: 87vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 48vw;
}

.menu04-n2{
    position: absolute;
    top: 132.5vw;
    left: 3vw;
    font-size: 0.8vw;

}
.description4-1 {
    position: absolute;
    top: 132.5vw;
    left: 6vw;
    width: 35vw;
    font-size: 1vw;
    line-height: 1.34vw;

}
.description4-2 {
    position: absolute;
    top: 132.5vw;
    left: 42vw;
    width: 50vw;
    font-size: 1.2vw;

    line-height: 1.34vw;

}
.description4-3 {
    position: absolute;
    top: 135vw;
    left: 6vw;
    width: 70vw;
    font-size: 0.9vw;

    line-height: 1.49vw;

}

.menuline4-1 {
    position: absolute;
    top: 134vw;
    width: 88vw;
    /* left: 16vw; */
}

.menuline4-2 {
    position: absolute;
    top: 139vw;
    width: 88vw;
    /* left: 16vw; */
}


.menuline5 {
    position: absolute;
    top:196vw;
    width: 88vw;
    /* left: 16vw; */
}

.menu05-n {
    position: absolute;
    top:194vw;
    left: 2vw;
    font-size: 0.8vw;

}

.menu05-t1 {
    position: absolute;
    top:195vw;
    left: 4.7vw;
    font-size: 1vw;
}
.menu05-t2 {
    position: absolute;
    top:195vw;
    left: 43vw;
    font-size: 1vw;

}
.menu05-t1-mobile {
    display: none;
}

.blackrabbit2 {
    position: absolute;
    top:197vw;
    /* left: 18vw; */
    left: 50%;
    transform: translate(-50%, 0);

    width: 44vw;

}
.blackrabbit3 {
    
    position: absolute;
    top:0vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 44vw;

}

.blackrabbit4 {
    position: absolute;
    top: 45vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70vw;
}
.blackrabbit5 {
    position: absolute;
    top: 93vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 77vw;
}
.blackrabbit6 {
    position: absolute;
    top: 127vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60vw;
}
.blackrabbit7 {
    position: absolute;
    top: 168vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60vw;
}
.blackrabbit8 {
    position: absolute;
    top: 209vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60vw;
}

.menu05-n2{
    position: absolute;
    top: 253vw;
    left: 3vw;
    font-size: 0.8vw;

}
.description5-1 {
    position: absolute;
    top: 253vw;
    left: 6vw;
    width: 35vw;
    font-size: 1vw;
    line-height: 1.34vw;

}
.description5-2 {
    position: absolute;
    top: 253vw;
    left: 42vw;
    width: 50vw;
    font-size: 1.2vw;

    line-height: 1.34vw;

}
.description5-3 {
    position: absolute;
    top: 256vw;
    left: 6vw;
    width: 70vw;
    font-size: 0.9vw;

    line-height: 1.49vw;

}

.menuline5-1 {
    position: absolute;
    top: 254.5vw;
    width: 88vw;
    /* left: 16vw; */
}

.menuline5-2 {
    position: absolute;
    top: 260.2vw;
    width: 88vw;
    /* left: 16vw; */
}











.menuline6 {
    position: absolute;
    top:244vw;
    width: 88vw;
    /* left: 16vw; */
}

.menu06-n {
    position: absolute;
    top:241.7vw;
    left: 2vw;
    font-size: 0.8vw;

}

.menu06-t1 {
    position: absolute;
    top:243vw;
    left: 4.7vw;
    font-size: 1vw;
}
.menu06-t1-mobile {
    display: none;
}
.menu06-t2 {
    position: absolute;
    top:243vw;
    left: 43vw;
    font-size: 1vw;

}

.lastfascination2 {
    position: absolute;
    top:245vw;
    /* left: 7vw; */
    left: 50%;
    transform: translate(-50%, 0);

    width: 70vw;

}

.lastfascination3 {
    position: absolute;
    top: 0vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70vw;
}
.lastfascination4 {
    position: absolute;
    top: 48vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70vw;
}
.lastfascination5 {
    position: absolute;
    top: 137vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50vw;
}
.lastfascination6 {
    position: absolute;
    top: 96vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60vw;
}
.lastfascination7 {
    position: absolute;
    top: 208vw;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70vw;
}

.menu06-n2{
    position: absolute;
    top: 250vw;
    left: 3vw;
    font-size: 0.8vw;

}
.description6-1 {
    position: absolute;
    top: 250.5vw;
    left: 6vw;
    width: 35vw;
    font-size: 1vw;
    line-height: 1.34vw;

}
.description6-2 {
    position: absolute;
    top: 250.5vw;
    left: 42vw;
    width: 50vw;
    font-size: 1.2vw;

    line-height: 1.34vw;

}
.description6-3 {
    position: absolute;
    top: 253vw;
    left: 6vw;
    width: 70vw;
    font-size: 0.9vw;

    line-height: 1.49vw;

}

.menuline6-1 {
    position: absolute;
    top: 252vw;
    width: 88vw;
    /* left: 16vw; */
}

.menuline6-2 {
    position: absolute;
    top: 255.5vw;
    width: 88vw;
    /* left: 16vw; */
}




	
@media (max-width: 1280px) {
    .headerimg{
        width: 200vw;
        left: -60vw;
    }

    .menu-container {
        display: none;
    }
    .menu-container-mobile {
        width: 100vw;
        position: absolute;
        overflow-y: scroll;
        /* background-color: aqua; */
        /* width: calc(100vw-16.49vw); */
        top: 17vw;
        /* height: 82vh; */
        height: calc(100vh-8.5vw);
        /* height: calc(100vh-50vw); */
        /* height: 100vh; */
        bottom: 1vw;
    
    }
    .verticalline1 {
        left: 3.9vw;
    }
    .verticalline2 {
        left: 50%;
        transform: translate(-50%, 0);
    }
    .verticalline3 {
        left: 96vw;
    }

    .namedingbat2 {
        display: inline;
        position: absolute;
                z-index: 1;
                top: 10vw;
                left: .5vw;
        width: 8vw;
    }




    .melody {
        width: 84vw;
        left: 50%;
        transform: translate(-50%, 0);
        top: 1vw;
    }
    .namedingbat {
        width: 12vw;
        top: 45.5vw;
        left: 4vw;
    }
    .name {
        font-size: 6vw;
        top: 53vw;
        left: 18vw;
    }
    .birth {
        font-size: 3.4vw;
        top: 59vw;
        left: 18vw;
    }
    .description {
        width: 90vw;
        left: 50%;
        transform: translate(-50%, 0);

        font-size: 4vw;
        top: 70vw;
        line-height: 5vw;
    }
    .flower {
        width: 95vw;
        top: 180vw;
        left: 40%;
        transform: translate(-40%, 0);

    }
    .yeardingbat {
        width: 7vw;
        left: 4vw;
        top: 223vw;

    }
    .year-2023 {
        top: 225vw;
        font-size: 6vw;
        left: 13.5vw;

    }
    .work-1 {
        top: 235vw;
        font-size: 5.8vw;
        left: 13.5vw;
        line-height: 6.5vw;
    }
    .soundgarden1 {
        top: 249vw;
        width: 73vw;
        left: 50%;
        transform: translate(-50%, 0);

    }
    .work-2 {
        top: 271vw;
        font-size: 5.8vw;
        left: 13.5vw;
        line-height: 6.5vw;
    }
    .kaine1 {
        top: 285vw;
        width: 73vw;
        left: 50%;
        transform: translate(-50%, 0);

    }
    .work-3 {
        top: 308vw;
        font-size: 5.8vw;
        left: 13.5vw;
        line-height: 6.5vw;
    }
    .thestarslikedust1 {
        top: 322vw;
        width: 73vw;
        left: 50%;
        transform: translate(-50%, 0);

        /* left: 17vw; */
    }
    .work-4 {
        top: 345vw;
        font-size: 5.8vw;
        left: 13.5vw;
        line-height: 6.5vw;
    }
    .kimkiyoung1 {
        top: 367vw;
        width: 73vw;
        left: 50%;
        transform: translate(-50%, 0);

    }
    .work-5 {
        top: 390vw;
        font-size: 5.8vw;
        left: 13.5vw;
        line-height: 6.5vw;
    }
    .blackrabbit1 {
        top: 411.5vw;
        width: 73vw;
        left: 50%;
        transform: translate(-50%, 0);

    }
    .work-6 {
        top: 434vw;
        font-size: 5.8vw;
        left: 13.5vw;
        line-height: 6.5vw;
    }
    .lastfascination1 {
        top: 456vw;
        width: 73vw;
        left: 50%;
        transform: translate(-50%, 0);

    }
    



    .main-container {
        width: 100vw;
        left: 50%;
        transform: translate(-50%, 0);
        top: 17.4vw;    

    }
    
    .allmenuline {
        width: 100vw;
    }

    .allmainnumber {
        font-size: 1vw;

    }



    .soundgarden2 {
        left: 50%;
        transform: translate(-50%, 0);
        top: 6vw;
        width: 88vw;
    }
    .menu01-n {
        font-size: 1.4vw;
        line-height: 1.2svw;
        }
    
    .menu01-t1 {
        font-size: 2vw;
        left: 6vw;
    }
    .menu01-t2 {
        left: 55%;
        transform: translate(-55%, 0); 
        font-size: 2vw;
    }
    .menuline1 { 
        top: 4vw;
    }

    .soundgarden3 {
        width: 90vw;
    }
    .soundgarden4 {
        top: 52vw;
        width: 90vw;

    }
    .soundgarden5 {
        top:108vw;
        width: 90vw;
    }
    .soundgarden6 {
        top: 164.3vw;
        width: 90vw;
    }
    .soundgarden7 {
        top: 220.5vw;
        width: 90vw;
    }

    .soundgarden8 {
        top: 277vw;
        width: 90vw;
    }
    .soundgarden9 {
        top: 334vw;
        width: 90vw;
    }
    .soundgarden10 {
        top: 452vw;
        width: 90vw;
    }
    .soundgarden11 {
        top: 570.5vw;
        width: 90vw;
    }
    .soundgarden12 {
        top: 623vw;
        width: 90vw;
    }
    .soundgarden13 {
        top: 676vw;
        width: 90vw;
    }
    .soundgarden14 {
        top: 747vw;
        width: 90vw;
    }
    .soundgarden15 {
        top: 840vw;
        width: 90vw;
    }
    .soundgarden16 {
        top: 916vw;
        width: 90vw;
    }
    .soundgarden17 {
        top: 992vw;
        width: 90vw;
    }
    .soundgarden18 {
        top: 1068vw;
        width: 90vw;
    }
    .soundgarden19 {
        top: 1162vw;
        width: 90vw;
    }
    .soundgarden20 {
        top: 1320vw;
        width: 90vw;
    }
    .menu01-n2 {
        font-size: 1.4vw;
        line-height: 1.8vw;
        top: 1418.2vw;
        left: 2vw;

    }

    .description1-1 {
        top: 1420vw;
        left: 6vw;
        font-size: 2vw;
    
    }
    .description1-2 {
        top: 1420vw;
        left: 55%;
        /* transform: translate(-50%, 0); */
        font-size: 2vw;

    }
    .description1-3 {
        top: 1425vw;
        font-size: 2vw;
        line-height: 2.7vw;
        width: 88vw;

    }

    .description1-4 {
        /* top: 1420vw;
        left: 60%;
        font-size: 2vw; */
        display: none;
    }

    .menuline1-1 {
        top: 1422vw;
    }
    
    .menuline1-2 {
        top: 1439.3vw;
    }
    
    







    .kaine2 {
        top:62vw;
        left: 50%;
        transform: translate(-50%, 0); 
        width: 88vw;

    }
    .menu02-n {
        font-size: 1.4vw;
        line-height: 1.2svw;
        top:57vw;

        }
    /* .menu02-n2 {
        font-size: 1vw;
        top:449.3vw;
        left: 2vw;

    } */


    .menu02-t1 {
        font-size: 2vw;
        top: 58vw;
        left: 6vw;
    }
    .menu02-t2 {
        left: 55%;
        transform: translate(-55%, 0); 
        font-size: 2vw;
        top: 58vw;

    }
    .menuline2 { 
        top: 60vw;
    }



    .kaine3 {
        width: 90vw;
    }

    .kaine4 {
        width: 90vw;
        top: 53vw
    }
    .kaine5 {
        top: 181vw;
        width: 90vw;

    }
    .kaine6 {
        width: 90vw;
        top: 233vw;
    }
    .kaine7 {
        top: 285vw;
        width: 90vw;
    }
    .kaine8 {
        top: 340vw;
        width: 90vw;
    }
    .kaine9 {
        top: 455vw;
        width: 90vw;
    }
    .kaine10 {
        top: 510vw;
        width: 90vw;
    }
    .kaine12 {
        top: 650vw;
        width: 90vw;
    }
    .kaine11 {
        top: 790vw;
        width: 90vw;
    }
    .menu02-n2 {
        font-size: 1.4vw;
        line-height: 1.7vw;
        top: 923vw;
        left: 2vw;

    }


    .description2-1 {
        top: 925vw;
        font-size: 2vw;
    }
    .description2-2 {
        top: 925vw;

        left: 55%;
        /* transform: translate(-60%, 0);  */
        font-size: 2vw;
    }
    .description2-3 {
        top: 929.4vw;
        line-height: 2.7vw;
        font-size: 2vw;
        width: 88vw;


    }
    .menuline2-1 {
        top: 926.6vw;
    }

    .menuline2-2 {
        top: 945vw;
    }
    







    .thestarslikedust2 {
        top: 118vw;
        left: 50%;
        transform: translate(-50%, 0); 
        width: 105vw;
    }
    .menu03-n {
        font-size: 1.4vw;
        line-height: 1.2svw;
        top: 113vw;
        left: 2vw;

    }

    .menu03-t1 {
        top: 114vw;

        font-size: 2vw;
        left: 6vw;
    }
    .menuline3 { 
        top: 116vw;
    }

    .thestarslikedust3 {
        width: 105vw;
    }
    .thestarslikedust4 {
        width: 90vw;
        top: 63vw;
    }
    .thestarslikedust5 {
        top: 127vw;
        width: 90vw;
    }
    .thestarslikedust6 {
        top: 180vw;
        width: 90vw;
    }
    .thestarslikedust7 {
        top: 235vw;
        width: 90vw;
    }
    .thestarslikedust8 {
        top: 358vw;
        width: 90vw;
    }
    .thestarslikedust9 {
        top: 480vw;
        width: 90vw;
    }
    .thestarslikedust10 {
        top: 602vw;
        width: 90vw;
    }
    .thestarslikedust11 {
        top: 665vw;
        width: 90vw;
    }
    .menu03-n2 {
        font-size: 1.4vw;
        line-height: 1.7vw;
        top: 730vw;
        left: 2vw;

    }

    .description3-1 {
        top: 732vw;
        font-size: 2vw;
    }
    .description3-2 {
        top: 732vw;

        left: 55%;
        /* transform: translate(-60%, 0);  */
        font-size: 2vw;
    }
    .description3-3 {
        top: 736.5vw;
        width: 88vw;
        font-size: 2vw;
        line-height: 2.7vw;

    }
    .menuline3-1 {
        top: 734vw;
    }

    .menuline3-2 {
        top: 751vw;
    }
    





    .kimkiyoung2 {
        top: 184vw;
        width: 88vw;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .menu03-n {
        font-size: 1.4vw;
        line-height: 1.2svw;
        top: 179vw;
        left: 2vw;

    }

    .menu04-t1 {
        font-size: 2vw;
        left: 6vw;
        top: 180vw;
    }
    .menu04-t2 {
        top: 180vw;

        left: 55%;
        transform: translate(-55%, 0); 
        font-size: 2vw;
    }
    .menuline4 { 
        top: 182vw;
    }


    .kimkiyoung3 {
        width: 90vw;
    }
    .kimkiyoung4 {
        width: 90vw;
        top: 53vw
    }
    .kimkiyoung5 {
        width: 90vw;
        top: 133vw;
    }
    .menu04-n2 {
        font-size: 1.4vw;
        line-height: 1.7vw;
        top: 217.5vw;
        left: 2vw;

    }

    .description4-1 {
        top: 220vw;
        font-size: 2vw;
    }
    .description4-2 {
        top: 220vw;
        left: 55%;
        /* transform: translate(-60%, 0);  */
        font-size: 2vw;
    }
    .description4-3 {
        top: 224vw;
        width: 88vw;
        font-size: 2vw;
        line-height: 2.7vw;

    }
    .menuline4-1 {
        top: 222vw;
    }

    .menuline4-2 {
        top: 235.5vw;
    }



    .blackrabbit2 {
        width: 88vw;
        top:241vw;
    }
    .menu04-n {
        font-size: 1.4vw;
        line-height: 1.2svw;
        top:236vw;
        left: 2vw;

    }

    .menu05-t1 {
        top: 237vw;
        font-size: 2vw;
        left: 6vw;
    }
    .menu05-t2 {
        top: 237vw;

        left: 55%;
        transform: translate(-55%, 0); 
        font-size: 2vw;
    }
    .menuline5 { 
        top: 239vw;
    }

    .blackrabbit3 {
        width: 90vw;

    }
    .blackrabbit4 {
        width: 90vw;
        top: 91vw;
    }
    .blackrabbit5 {
        width: 90vw;
        top: 153.5vw;
    }
    .blackrabbit6 {
        width: 90vw;
        top: 195vw;
    }
    .blackrabbit7 {
        width: 90vw;
        top: 256vw;
    }
    .blackrabbit8 {
        width: 90vw;
        top: 317vw;
    }
    .menu05-n2 {
        font-size: 1.4vw;
        line-height: 1.7vw;
        top: 380.6vw;
        left: 2vw;

    }

    .description5-1 {
        top: 383vw;
        font-size: 2vw;
        width: 80vw;
    }
    .description5-2 {
        top: 383vw;
        left: 55%;
        /* transform: translate(-60%, 0);  */
        font-size: 2vw;
    }
    .description5-3 {
        top: 387vw;
        width: 88vw;
        font-size: 2vw;
        line-height: 2.7vw;

    }
    .menuline5-1 {
        top: 385vw;
        width: 100vw;
    }

    .menuline5-2 {
        top: 396vw;
        width: 100vw;

    }




    .lastfascination2 {
        top:336vw;
        width: 88vw;

        left: 50%;
        transform: translate(-50%, 0);
    }  
    .menu06-n {
        font-size: 1.4vw;
        line-height: 1.2svw;
        top: 331vw;
        left: 2vw;

    }

    .menu06-t1 {
        font-size: 2vw;
        top: 331.5vw;

        left: 6vw;
    }
    .menu06-t2 {
        top: 331.5vw;
        left: 55%;
        transform: translate(-55%, 0); 
        font-size: 2vw;
    }
    .menuline6 { 
        top: 333.5vw;
    }

    .lastfascination3 {
        width: 90vw;
    }
    .lastfascination4 {
        width: 90vw;
        top: 61vw;
    }
    .lastfascination6 {
        width: 90vw;
        top: 124.5vw;
    }
    .lastfascination5 {
        width: 90vw;
        top: 188vw;
    }
    .lastfascination7 {
        width: 90vw;
        top: 318vw;
    }
    .menu06-n2 {
        font-size: 1.4vw;
        line-height: 1.7vw;
        top: 372.5vw;
        left: 2vw;

    }

    .description6-1 {
        top: 375vw;
        font-size: 2vw;
    }
    .description6-2 {
        top: 375vw;
        left: 55%;
        /* transform: translate(-60%, 0);  */
        font-size: 2vw;
    }
    .description6-3 {
        top: 379vw;
        width: 88vw;

        font-size: 2vw;
        line-height: 2.7vw;

    }
    .menuline6-1 {
        top: 377vw;
        width: 100vw;
    }

    .menuline6-2 {
        top: 385.5vw;
        width: 100vw;

    }


}





@media (max-width: 950px) {
    .headerimg{
        width: 300vw;
        left: -110vw;
    }
    .menu-container-mobile {
        top: 25vw;    
    }

    .namedingbat2 {
        z-index: 1;
        top: 15vw;
        left: .5vw;
        width: 12vw;
    }

    .work-1 {
        line-height: 7vw;
    }
    .work-2 {
        line-height: 7vw;
    }
    .work-3 {
        line-height: 7vw;
    }
    .work-4 {
        line-height: 7vw;
    }
    .work-5 {
        line-height: 7vw;
    }
    .work-6 {
        line-height: 7vw;
    }



    .main-container{
        /* width: 84vw; */
        top: 25.7vw;
        /* height: calc(100vh-50vw); */
        /* height: 100vh; */
    }


    .menuline1 {
        top:6.6vw;
        width: 200vw;
    }
    
    .menu01-n {
        /* top:2.3vw;
        font-size: 3vw;
        line-height: ; */
        display: none;
    }
    
    .menu01-t1 {
        position: absolute;
        top:2.5vw;
        left: 7vw;
        font-size: 3.5vw;
    }
    .menu01-t2 {
        position: absolute;
        top:2.5vw;
        left: 60%;
        transform: translate(-60%, 0);
        font-size: 3.5vw;
    }
    
    .soundgarden2 {
        top:9vw;
        left: 50%;
        transform: translate(-50%, 0);
    
        width: 90vw;
    }
    .menu01-n2 {
        display: none;
    }

    .description1-1 {
        left: 6vw;
        font-size: 3.5vw;
        width: 60vw;
    
    }
    .description1-2 {
        font-size: 3.5vw;

    }
    .description1-3 {
        font-size: 3vw;
        line-height: 3.9vw;
        /* width: 90vw; */

    }

    .description1-4 {
        display: none;
    }
    
    .menuline1-1 {
        width: 200vw;

        top: 1422.5vw;
    }
    
    .menuline1-2 {
        width: 200vw;
        top: 1458vw;
    }






    .menuline2 {
        top:69vw;
        width: 200vw;

        /* width: 88vw; */
        /* left: 16vw; */
    }
    
    .menu02-n {
        /* top:2.3vw;
        font-size: 3vw;
        line-height: ; */
        display: none;
    }
    
    .menu02-t1 {
        position: absolute;
        top:65vw;
        left: 7vw;
        font-size: 3.5vw;
    }
    .menu02-t2 {
        position: absolute;
        top:65vw;
        left: 60%;
        transform: translate(-60%, 0);
        font-size: 3.5vw;
    }
    .kaine2 {
        top: 71vw;
        width: 90vw;

    }
    .menu02-n2 {
        display: none;
    }

    .description2-1 {
        left: 6vw;
        font-size: 3.5vw;
    }
    .description2-2 {
        font-size: 3.5vw;
    }
    .description2-3 {
        top: 930vw;
        font-size: 3vw;
        line-height: 3.9vw;

    }
    .menuline2-1 {
        width: 200vw;
        top: 927.5vw;
    }

    .menuline2-2 {
        width: 200vw;
        top: 966vw;
    }




    


    .menuline3 {
        top: 131vw;
        width: 200vw;

        /* width: 88vw; */
        /* left: 16vw; */
    }
    
    .menu03-n {
        /* top:2.3vw;
        font-size: 3vw;
        line-height: ; */
        display: none;
    }
    
    .menu03-t1 {
        position: absolute;
        top: 127vw;
        left: 7vw;
        font-size: 3.5vw;
    }
    .menu03-t2 {
        position: absolute;
        top: 127vw;
        left: 60%;
        transform: translate(-60%, 0);
        font-size: 3.5vw;
    }
    .thestarslikedust2 {
        top: 133vw;
        width: 107vw;
    }
    .menu03-n2 {
        display: none;
    }

    .description3-1 {
        left: 6vw;
        font-size: 3.5vw;
    }
    .description3-2 {
        font-size: 3.5vw;
    }
    .description3-3 {
        font-size: 3vw;
        line-height: 3.9vw;

    }
    .menuline3-1 {
        width: 200vw;
    }

    .menuline3-2 {
        width: 200vw;
        top: 765vw;
    }






    .menuline4 {
        top: 205.5vw;
        width: 200vw;

        /* width: 88vw; */
        /* left: 16vw; */
    }
    
    .menu04-n {
        /* top:2.3vw;
        font-size: 3vw;
        line-height: ; */
        display: none;
    }
    
    .menu04-t1 {
        display: none;
    }
    .menu04-t1-mobile {
        display: block;
        position: absolute;
        top: 198vw;
        left: 7vw;
        font-size: 3.5vw;
    }
    .menu04-t2 {
        position: absolute;
        top: 202vw;
        left: 60%;
        transform: translate(-60%, 0);
        font-size: 3.5vw;
    }
    .kimkiyoung2 {
        top: 208vw;
        width: 90vw;
    }
    .menu04-n2 {
        display: none;
    }

    .description4-1 {
        left: 6vw;
        font-size: 3.5vw;
        line-height: 4vw;
    }
    .description4-2 {
        top: 225.3vw;

        font-size: 3.5vw;
    }
    .description4-3 {
        top: 232vw;
        font-size: 3vw;
        line-height: 3.9vw;

    }
    .menuline4-1 {
        width: 200vw;
        top: 228vw;
    }

    .menuline4-2 {
        width: 200vw;
        top: 257vw;
    }




    .menuline5 {
        top: 270vw;
        width: 200vw;
        /* width: 88vw; */
        /* left: 16vw; */
    }
    .menu05-n {
        /* top:2.3vw;
        font-size: 3vw;
        line-height: ; */
        display: none;
    }
    
    .menu05-t1 {
        display: none;
    }
    .menu05-t1-mobile {
        display: block;
        position: absolute;
        top: 263vw;
        left: 7vw;
        font-size: 3.5vw;

    }
    .menu05-t2 {
        position: absolute;
        top: 265.5vw;
        left: 60%;
        transform: translate(-60%, 0);
        font-size: 3.5vw;
    }
    .blackrabbit2 {
        top: 273vw;
        width: 90vw;
    }
    .menu05-n2 {
        display: none;
    }

    .description5-1 {
        left: 6vw;
        font-size: 3.5vw;
        width: 40vw;
        line-height: 4vw;

    }
    .description5-2 {
        top: 388.5vw;
        font-size: 3.5vw;
    }
    .description5-3 {
        top: 394vw;

        font-size: 3vw;
        line-height: 3.9vw;

    }
    .menuline5-1 {
        width: 200vw;
        top: 391vw;

    }

    .menuline5-2 {
        width: 200vw;
        top: 415vw;
    }






    
    .menuline6 {
        top: 374vw;
        width: 200vw;

        /* width: 88vw; */
        /* left: 16vw; */
    }
    .menu06-n {
        /* top:2.3vw;
        font-size: 3vw;
        line-height: ; */
        display: none;
    }
    
    .menu06-t1 {
        display: none;
    }
    .menu06-t1-mobile {
        display: block;
        position: absolute;
        top: 367vw;
        left: 7vw;
        font-size: 3.5vw;

    }
    .menu06-t2 {
        position: absolute;
        top: 370vw;
        left: 60%;
        transform: translate(-60%, 0);
        font-size: 3.5vw;
    }
    .lastfascination2 {
        top: 377vw;
        width: 90vw;
    }
    .menu06-n2 {
        display: none;
    }

    .description6-1 {
        left: 6vw;
        font-size: 3.5vw;
        width: 40vw;
        line-height: 4vw;

    }
    .description6-2 {
        top: 380.5vw;
        font-size: 3.5vw;
    }
    .description6-3 {
        top: 386vw;
        font-size: 3vw;
        line-height: 3.9vw;

    }
    .menuline6-1 {
        width: 200vw;
        top: 383vw;

    }

    .menuline6-2 {
        width: 200vw;
        top: 399vw;
    }

}